header{
    background: $header-footer;
    height: 5rem;
    color: white;
    font-size: bold;
    text-align: center;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

h1{
    display: flex;
    flex-direction: center;
    align-items: center;
    
}
