body{
    background: $black;
}

main{
    padding: 6rem 0;

    .timeUpdate{    
        
        margin: 2rem;
        
    }

    .break, .session, .timer{
        font-size: bold;
        background: $bg-b-s-t;
        border-radius: 30px;
    }
}

button{
    margin: $btn-margin;
}