body{
    width: auto;
    height: 100vw;
    background-image: url('../img/bg-earth.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    background: rgba(255, 255, 255, 0.295);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border: green solid;

    .timeUpdate{
        display: flex;
        justify-content: center;
        align-items:center ; 
        border: black solid;
    }

    .break, .session, .timer{
        font-size: bold;
        display: flex;
        justify-content: space-around;
        align-items:center ;
        padding: 3rem;
        width: 400px;
        border: red solid;
    }
    
}